# Ignore everything by default
/*
/*/
.*

# Whitelist git files
!.gitignore
!.github/

# Whitelist documentation
!README.md
!LICENSE
!*.md

# Whitelist Python
!python/
!python/*.py

# Whitelist Scala
!scala/
scala/**

!scala/README.md
!scala/.scalafmt.conf
!scala/build.sbt

!scala/project/
scala/project/**
!scala/project/build.properties
!scala/project/plugins.sbt

!scala/src/
!scala/src/**
